

*{
  box-sizing: border-box;
}

.card-title{
    color: black;
    align-items: center;
    font-size: 50px;

} 

.container {

margin-top: 5%;
margin-bottom: 20px;



}


.body_contacto{

    background-image:url ("../imagenes/logo.jpg"); 
    padding: 5%;
    background-size: cover;
    background-attachment: fixed;
    margin-top:100px;
}

.section{

    
    font-family: monospace;
    font-style: italic;
    font-weight: 400;
    font-size: 35px 
    
  

}

.titulo {
    

    -webkit-text-stroke: 6px black;
  
    font-size: 100px;
    font-family: cursive
    
    
}



.card-text{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 30px;
    padding-bottom: 50px;

} 




.rowG3{

    font-family:cursive


} 


h1:hover{
  color: blueviolet;
}

.boton{
  padding: 30px;
  background-color: chocolate;
  color: black;
  border-radius: 20px;
  font-family: cursive;
  font-size: 20px;
  -webkit-text-stroke:1px ;
  
  
  
  
  
  
}

.boton:hover{
  color: gold;
}



.h1-1{

  -webkit-text-stroke: 6px black;
  
    font-size: 60px;
    font-family: cursive
    
}

.video{

object-fit: cover;
}

.foto_nosotros{
  border-radius: 30%;
  opacity: 0.5;
}

.texto-nosotros{
  font-size: 30px;

}

.formulario{
margin-top: 100PX;
margin-left: 0px;
font-family: cursive;
font-size: 30px;
margin-bottom: 30PX;

}

.COL-6form-check{
  margin-top: 100px;
  margin-left: 0px;
}

.titulo-form{
  margin-top: 20px;
  font-family: cursive;
  font-style: italic;
  font-size: 60px;
  -webkit-text-stroke: 4px; 


} 

.card-group{
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;

}

.pizzas{
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 20px;
  margin-right: 20px;
 
} 


.whatsapp{
  
  position: fixed;
  border-radius: 150px;
  bottom: 0px;
  right: 10px;
  object-fit:cover;
  margin-bottom: 60px;
 





}

  
    

  